<header>
    <center>
        [<a href="{{ url('home') }}">Inicio</a>]
        [<a href="{{ url('listadoHoteles') }}">Listado de Hoteles</a>]
        {# [<a href="{{ url('annadirHotel') }}">A침adir Hotel</a>] #}
        [<a href="{{ url('hotel') }}">CRUD Hotel</a>]
        [<a href="{{ url('listadoHabitaciones') }}">Listado de Habitaciones</a>]
        {# [<a href="{{ url('annadirHabitacion') }}">A침adir Habitaci칩n</a>] #}
        [<a href="{{ url('habitacion') }}">CRUD Habitacion</a>]
        [<a href="{{ url('listadoReservas') }}">Listado de Reservas</a>]
        {# [<a href="{{ url('annadirReserva') }}">A침adir Reserva</a>] #}
        [<a href="{{ url('reserva') }}">CRUD Reserva</a>]

    </center>
</header>
<br><br>